<div class="container page">
    <div class="info">
        <h1>Job <span>Tracking</span> App</h1>
        <p>
            The Job Tracking App is a powerful and user-friendly web application designed to streamline and enhance the job management process. It allows professionals to efficiently track and manage their process from anywhere. Stay organized, collaborate seamlessly, and gain valuable insights into your work with the Job Tracking App.
        </p>
        <a class="btn btn-hero" [routerLink]="['/register']">Login/Register</a>
    </div>
    <img src="../../assets/main.svg" class="img ">

</div>
